---
# Hi
---

@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=PT+Mono);
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

// Variables
$base-font: 'EB Garamond', Georgia, Serif;
$base-font-size:   16px;
$base-font-size-small: 14px;
$display-font: 'PT Mono', Sans-serif;
$monospace-font: 'PT Mono', monospace;

$black: #000000;
$white: #FFFFFF;

$gray: #cccccc;
$grayD1: #999999;
$grayD2: #666666;
$grayD3: #333333;
$grayL1: #b2b2b2;
$grayL2: #cccccc;
$grayL3: #e5e5e5;

$green: #31af0e;
$greenD1: #267a0b;
$greenL1: #46e014;

// Mixins

@mixin display-flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-wrap($wrap: wrap) {
  -webkit-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

@mixin flex-justify-content($justify: space-between) {
  -webkit-justify-content: $justify;
  justify-content: $justify;
}

@mixin flex-align-items($align: center) {
  -webkit-align-items: $align;
  align-items: $align;
}

@mixin flex-order($order: center) {
  -webkit-order: $order;
  order: $order;
}

@mixin keyframe ($animation_name) {
  @-webkit-keyframes #{$animation_name} {
    @content;
  }

  @-moz-keyframes #{$animation_name} {
    @content;
  }

  @-o-keyframes #{$animation_name} {
    @content;
  }

  @keyframes #{$animation_name} {
    @content;
  }
}

@mixin animation ($animation) {
  -webkit-animation: $animation;

  -moz-animation: $animation;

  -o-animation: $animation;

  animation: $animation;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "fonts",
  "animations",
  "base",
  "buttons",
  "layout",
  "forms",
  "header",
  "footer",
  "home",
  "about",
  "errors",
  "syntax-highlighting"
;
