body {
    margin: 0;
    padding: 0 1.875em;
    font-family: $base-font;
    background: $grayD3;
    color: $grayL1;

    @media screen and (max-width: 640px) {
      font-size: $base-font-size-small;
    }

    @media screen and (min-width: 641px) {
      font-size: $base-font-size;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $display-font;
}

h2 {
  line-height: 1.25em;
}

p {
  margin: 1.25em 0 1.5em;
  line-height: 1.5em;

  &:last-of-type {
    margin: 0;
  }
}

a {
  transition: 0.2s all;
  text-decoration: none;
  color: $grayL3;
  border-bottom: 1px dotted $grayL3;
  padding-bottom: 4px;

  &:visited {
    color:$grayL3;
  }

  &:hover {
    border-bottom-style: solid;
  }
}

.list-unstyled {
  list-style: none;
  margin:0;
  padding:0;
}

img {
  max-width:100%;
}

.hidden {
  display:none !important;
}

/** Code formatting **/
pre,
code {
  font-size: 16px;
  border-radius: 3px;
  background-color: $grayD3;
  color: $white;
}

code {
  padding: 1px 5px 3px;
  font-family: $monospace-font;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    padding-right: 0;
    padding-left: 0;
  }
}

p > code {
  vertical-align: bottom;
}

/** Clearfix **/
.clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}