/** Forms **/ 

label {
  color: $grayD2;
}

.required-field {

  &:after {
    color: $green;
    content:"*";
  }
}

input:not([type="submit"]), textarea {
  -webkit-appearance: none;
  background: $white;
  border: 1px solid $gray;
  box-shadow: none;
  box-sizing: border-box;
  color: $grayD2;
  display: block;
  font-family: 'Source Sans Pro', Arial, Sans-serif;
  font-size: 1.15em;
  font-weight: lighter;
  margin: .5em 0 1.5em;
  padding: 7px 10px;
  transition: 0.2s all;
  width: 100%;

  &:hover {
    border-color: $grayL1;
  }

  &:focus {
    background: $white;
    border-color: $grayD1;
    outline: none;
  }

  &[disabled] {
    background: $grayL1;
    border-color: $grayD1;
    color:$grayD1;
  }

  @media screen and (max-width: 960px) {
    font-size: 1em;
  }
}

textarea {
  resize: vertical;
  min-height:150px;
}