/** Navigation **/
#code-plus-x-logo {
  fill: $white;
}

#code-plus-x-logo-container {
  height:2.25em;
  max-width: 100%;
}

#header {
  border-bottom: 1px dashed $grayD2;
  text-align: center;
  padding: 1.875em 0;

  #navigation {
    @media screen and (min-width: 800px) {
      @include display-flex;
      @include flex-justify-content;
      @include flex-align-items;
    }
  }

  h1 {
    margin: 0;

    @media screen and (min-width: 641px) {
      display:inline-block;
    }

    a {
      border: 0;
    }
  }

  ul {
    @media screen and (min-width: 800px) {
      display:inline-block;
      font-size: 1.25em;
    }

    @media screen and (max-width: 799px) {
      margin-top: 1em;

      .button {
        padding: 12px 14px;
      }
    }

    list-style:none;
    margin:0;
    padding:0;

    li {
      display: inline-block;
      
      @media screen and (max-width: 339px) {
        margin-bottom: 1em;
      }

      + li {
        margin-left:1em;
      }
      @media screen and (max-width: 339px) {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
